{% extends "base.html" %}
{% block content %}
<gcds-heading tag="h1">{{ t('applications.usage.title') }}</gcds-heading>
<div class="d-flex justify-content-between">
  <gcds-text>{{ t('applications.usage.description', name=app_name) }}</gcds-text>
  <div class="table-actions">
    <gcds-button type="link" href="/applications/{{ app_id }}">{{ t('applications.usage.back_to_detail') }}</gcds-button>
    <gcds-button type="link" href="/applications">{{ t('applications.detail.back_to_list') }}</gcds-button>
  </div>
</div>

<section class="gcds-mb-200">
  <gcds-heading tag="h2">{{ t('applications.usage.total_logins_title') }}</gcds-heading>
  <div class="card-grid text-center align-content-center">
    <section class="card">
      <div class="card-header">
        <div class="card-title text-secondary font-h5">{{ t('applications.usage.total_logins.unique_users') }}</div>
      </div>
      <div class="card-body">
        <p class="font-h1">{{ total_logins_summary.unique_users }}</p>
      </div>
    </section>
    <section class="card">
      <div class="card-header">
        <div class="card-title text-secondary font-h5">{{ t('applications.usage.total_logins.successful') }}</div>
      </div>
      <div class="card-body">
        <p class="font-h1">{{ total_logins_summary.successful }}</p>
      </div>
    </section>
    <section class="card">
      <div class="card-header">
        <div class="card-title text-secondary font-h5">{{ t('applications.usage.total_logins.failed') }}</div>
      </div>
      <div class="card-body">
        <p class="font-h1">{{ total_logins_summary.failed }}</p>
      </div>
    </section>
  </div>
</section>

<section class="gcds-mb-200">
  <gcds-heading tag="h2">{{ t('applications.usage.audit_trail_title') }}</gcds-heading>
  <div id="audit-trail-list">
    {% include 'fragments/audit_trail_list.html' %}
  </div>
</section>
{% endblock %}
